body {
  min-height: 100%;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.container{
  dispay:table;
  height: 150%;
  width: 100%;
}
div{
  display:table-cell;
  vertical-align: middle;
  padding-left:100px;
  width: 70%;
}
h1{
  font-size: 180%;
  text-align: left;
}

h3{
  text-align:left;
  font-size:150%;
  color: white;

}

.img-circle{
  border-radius: 50%;
}

.expertise{
  border:dotted;
  border-radius: 35%;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 9px;

}
