{% extends "stats/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Bitter" rel="stylesheet">
</head>
<style>
	.img-circle {
     border-radius: 50%;
     width: 250px;
     height:250px;
     margin-top: +100px; 
     margin-left: +430px; 
     float: center;
    }
    .grow:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    }

    #title{
    	font-family: 'Patrick Hand SC', cursive; 
    	font-size: 100px;
    	text-align: center;
    }

    #content{
        font-family: 'Bitter', serif;
        font-size: 50px;
        text-align: center;
    }
</style>
<body style="background-color: #b2ebf2"> 
	<img class= "responsive-img img-circle grow" src="//c1.staticflickr.com/4/3836/14499517289_ab6723c4f1_b.jpg">
    <div class="row">
      <div class="col s12">
          <h2 id = "title">{{ name }}</h2>
      </div>
      <div class="col s6 blue accent-4">
            <h2 id = "title">Friends</h2>
            <p id = "content">{{ friends }} friend</p>
      </div>
    </div>
          
</body>
{% endblock %}