<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Ling In</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/friend/">Friends</a></li>
      <li><a href="/status/">Status</a></li>
      <li><a href="/profile_page/">Profile</a></li>
      <li><a href="/stats/">Stats</a></li>
    </ul>
  </div>
</nav>