{% extends "profile_page/layout/base.html" %}
{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
{% block content %}

<html>

<head>
  <title>Tugas Kelompok</title>
  <!--mencoba masukkin ke link css -->
  <link rel="stylesheet" type="text/css" href="../static/css/profile_page.css"
</head>

<h1 style="text-align: center; width:200px; margin-left:20px; color: white;">profile</h1>
<center>
  <body>
  <img class="img-circle" style="width:200px; height:200px" src= https://i.pinimg.com/236x/e0/5d/51/e05d51c857bba4ee264c305d20fd1c52.jpg>
  <h2 style="color:white;"> {{name}}</h2>
</hr>
<midle>
  <section class="container">
    <article>

    <div clas="row">
      <div class="col-sm-6">
        <h3>Birthday </h3>
        <h3>Gender </h3>
        <h3>Description </h3>
        <h3> Expertise</h3>
        <h3>Email </h3>
      </div>

      <div class="col-sm-6">
        <h3>{{birthday}}</h3>
        <h3>{{gender}}</h3>
        <h3>{{description}}</h3>
        <h3>{%for obj in expertise %}
          <div class="expertise">{{obj}}</div>
          {%endfor%}
        <h3>{{email}}</h3>
      </div>

    </div>
  </article>
  </section>

</center>
</midle>

</body>
</html>
{% endblock %}
