{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body style="background-color:#bbdefb">
	<header>
		{% include "partials/header.html" %}
	</header>
	
	<footer>
		{% include "partials/footer.html" %}
	</footer>
</body>
